@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?3rrgc7');
	src:url('fonts/icomoon.eot?#iefix3rrgc7') format('embedded-opentype'),
		url('fonts/icomoon.woff?3rrgc7') format('woff'),
		url('fonts/icomoon.ttf?3rrgc7') format('truetype'),
		url('fonts/icomoon.svg?3rrgc7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}

.icon-twitter-old:before {
	content: "\e601";
}

.icon-share:before {
	content: "\e602";
}

.icon-feed:before {
	content: "\e603";
}

.icon-bird:before {
	content: "\e604";
}

.icon-chat:before {
	content: "\e605";
}

.icon-envelope:before {
	content: "\e606";
}

.icon-envelope2:before {
	content: "\e607";
}

.icon-phone:before {
	content: "\e608";
}

.icon-phone2:before {
	content: "\e609";
}

.icon-phone3:before {
	content: "\e60a";
}

.icon-mobile:before {
	content: "\e60b";
}

.icon-ipod:before {
	content: "\e60c";
}

.icon-monitor:before {
	content: "\e60d";
}

.icon-laptop:before {
	content: "\e60e";
}

.icon-modem:before {
	content: "\e60f";
}

.icon-speaker:before {
	content: "\e610";
}

.icon-window:before {
	content: "\e611";
}

.icon-server:before {
	content: "\e612";
}

.icon-hdd:before {
	content: "\e613";
}

.icon-keyboard:before {
	content: "\e614";
}

.icon-mouse:before {
	content: "\e615";
}

.icon-cd:before {
	content: "\e616";
}

.icon-floppy:before {
	content: "\e617";
}

.icon-hardware:before {
	content: "\e618";
}

.icon-usb:before {
	content: "\e619";
}

.icon-cord:before {
	content: "\e61a";
}

.icon-socket:before {
	content: "\e61b";
}

.icon-socket2:before {
	content: "\e61c";
}

.icon-socket3:before {
	content: "\e61d";
}

.icon-printer:before {
	content: "\e61e";
}

.icon-camera:before {
	content: "\e61f";
}

.icon-pictures:before {
	content: "\e620";
}

.icon-eye:before {
	content: "\e621";
}

.icon-uniE622:before {
	content: "\e622";
}

.icon-film:before {
	content: "\e623";
}

.icon-camera2:before {
	content: "\e624";
}

.icon-movie:before {
	content: "\e625";
}

.icon-tv:before {
	content: "\e626";
}

.icon-camera3:before {
	content: "\e627";
}

.icon-camera4:before {
	content: "\e628";
}

.icon-volume:before {
	content: "\e629";
}

.icon-music:before {
	content: "\e62a";
}

.icon-microphone:before {
	content: "\e62b";
}

.icon-radio:before {
	content: "\e62c";
}

.icon-ipod2:before {
	content: "\e62d";
}

.icon-headphone:before {
	content: "\e62e";
}

.icon-cassette:before {
	content: "\e62f";
}

.icon-broadcast:before {
	content: "\e630";
}

.icon-broadcast2:before {
	content: "\e631";
}

.icon-calculator:before {
	content: "\e632";
}

.icon-gamepad:before {
	content: "\e633";
}

.icon-gamepad2:before {
	content: "\e634";
}

.icon-cog:before {
	content: "\e635";
}

.icon-shield:before {
	content: "\e636";
}

.icon-skull:before {
	content: "\e637";
}

.icon-bug:before {
	content: "\e638";
}

.icon-mine:before {
	content: "\e639";
}

.icon-earth:before {
	content: "\e63a";
}

.icon-globe:before {
	content: "\e63b";
}

.icon-planet:before {
	content: "\e63c";
}

.icon-battery:before {
	content: "\e63d";
}

.icon-battery-low:before {
	content: "\e63e";
}

.icon-battery2:before {
	content: "\e63f";
}

.icon-battery-full:before {
	content: "\e640";
}

.icon-folder:before {
	content: "\e641";
}

.icon-search:before {
	content: "\e642";
}

.icon-zoomout:before {
	content: "\e643";
}

.icon-zoomin:before {
	content: "\e644";
}

.icon-binocular:before {
	content: "\e645";
}

.icon-location:before {
	content: "\e646";
}

.icon-pin:before {
	content: "\e647";
}

.icon-file:before {
	content: "\e648";
}

.icon-tag:before {
	content: "\e649";
}

.icon-quote:before {
	content: "\e64a";
}

.icon-attachment:before {
	content: "\e64b";
}

.icon-bookmark:before {
	content: "\e64c";
}

.icon-bookmark2:before {
	content: "\e64d";
}

.icon-newspaper:before {
	content: "\e64e";
}

.icon-notebook:before {
	content: "\e64f";
}

.icon-addressbook:before {
	content: "\e650";
}

.icon-clipboard:before {
	content: "\e651";
}

.icon-clipboard2:before {
	content: "\e652";
}

.icon-board:before {
	content: "\e653";
}

.icon-pencil:before {
	content: "\e654";
}

.icon-pen:before {
	content: "\e655";
}

.icon-user:before {
	content: "\e656";
}

.icon-user2:before {
	content: "\e657";
}

.icon-trashcan:before {
	content: "\e658";
}

.icon-cart:before {
	content: "\e659";
}

.icon-bag:before {
	content: "\e65a";
}

.icon-suitcase:before {
	content: "\e65b";
}

.icon-card:before {
	content: "\e65c";
}

.icon-book:before {
	content: "\e65d";
}

.icon-gift:before {
	content: "\e65e";
}

.icon-lamp:before {
	content: "\e65f";
}

.icon-settings:before {
	content: "\e660";
}

.icon-support:before {
	content: "\e661";
}

.icon-medicine:before {
	content: "\e662";
}

.icon-cone:before {
	content: "\e663";
}

.icon-locked:before {
	content: "\e664";
}

.icon-unlocked:before {
	content: "\e665";
}

.icon-key:before {
	content: "\e666";
}

.icon-info:before {
	content: "\e667";
}

.icon-clock:before {
	content: "\e668";
}

.icon-timer:before {
	content: "\e669";
}

.icon-food:before {
	content: "\e66a";
}

.icon-drink:before {
	content: "\e66b";
}

.icon-mug:before {
	content: "\e66c";
}

.icon-cup:before {
	content: "\e66d";
}

.icon-drink2:before {
	content: "\e66e";
}

.icon-mug2:before {
	content: "\e66f";
}

.icon-lollipop:before {
	content: "\e670";
}

.icon-lab:before {
	content: "\e671";
}

.icon-puzzle:before {
	content: "\e672";
}

.icon-flag:before {
	content: "\e673";
}

.icon-star:before {
	content: "\e674";
}

.icon-heart:before {
	content: "\e675";
}

.icon-badge:before {
	content: "\e676";
}

.icon-cup2:before {
	content: "\e677";
}

.icon-scissors:before {
	content: "\e678";
}

.icon-snowflake:before {
	content: "\e679";
}

.icon-cloud:before {
	content: "\e67a";
}

.icon-lightning:before {
	content: "\e67b";
}

.icon-night:before {
	content: "\e67c";
}

.icon-sunny:before {
	content: "\e67d";
}

.icon-droplet:before {
	content: "\e67e";
}

.icon-umbrella:before {
	content: "\e67f";
}

.icon-truck:before {
	content: "\e680";
}

.icon-car:before {
	content: "\e681";
}

.icon-gaspump:before {
	content: "\e682";
}

.icon-factory:before {
	content: "\e683";
}

.icon-tree:before {
	content: "\e684";
}

.icon-leaf:before {
	content: "\e685";
}

.icon-flower:before {
	content: "\e686";
}

.icon-direction:before {
	content: "\e687";
}

.icon-thumbsup:before {
	content: "\e688";
}

.icon-thumbsdown:before {
	content: "\e689";
}

.icon-pointer:before {
	content: "\e68a";
}

.icon-pointer2:before {
	content: "\e68b";
}

.icon-pointer3:before {
	content: "\e68c";
}

.icon-arrow-up:before {
	content: "\e68d";
}

.icon-arrow-down:before {
	content: "\e68e";
}

.icon-arrow-left:before {
	content: "\e68f";
}

.icon-arrow-right:before {
	content: "\e690";
}

.icon-arrow-top-right:before {
	content: "\e691";
}

.icon-arrow-top-left:before {
	content: "\e692";
}

.icon-arrow-bottom-right:before {
	content: "\e693";
}

.icon-arrow-bottom-left:before {
	content: "\e694";
}

.icon-contract:before {
	content: "\e695";
}

.icon-enlarge:before {
	content: "\e696";
}

.icon-refresh:before {
	content: "\e697";
}

.icon-rocket:before {
	content: "\e9a5";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-css3:before {
	content: "\eae1";
}

